<template name='about'>
<div id="intro" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">Virtual Trainer is a your own personal trainer in your pocket<span class="span_h2"> Staying </span> fit was never so easy </h2>
            </div>

            <div  class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <img class="icon_about" src='icon/yoga_icon.png'>
                    <h5 class="promo-caption">Yoga for soul</h5>
                    <p class="light center">Yoga means union of the individual consciousness or soul with the Universal Consciousness or Spirit. Yoga is a 5000-year-old Indian body of knowledge. </p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <img class="icon_about" src='icon/gym_icon.png'>
                    <h5 class="promo-caption">Muscle Bullding</h5>
                    <p class="light center">Exercise and rest are the cornerstones of improving your quality of life. It's not always easy but it's always worth it.When you find a fitness routine you enjoy</p>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="center promo promo-example">
                    <img class="icon_about" src='icon/run_icon.png'>
                    <h5 class="promo-caption">Free running</h5>
                    <p class="light center">Track the calories you have burned and your routes via our location tracker.Share and compare the activities with your friends</p>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
