<template name="dashNav">
  <ul id="slide-fixed" class="side-nav fixed hide-on-med-and-down" style="margin-top: 64px">
    <li>
      <div class="userView">
        <div class="background">
          <img src="avatar/avatarBackground.jpg">
        </div>
        <a href="#!user"><img class="circle" src="avatar/profile.png"></a>
        <a href="#!name"><span class="white-text name">Prabal Raghav</span></a>
        <a href="#!email"><span class="white-text email">prabal74@yopmail.com</span></a>
      </div>
    </li>
    <li><a href="#">Change Password</a></li>
    <li><a href="#" id="buttonProfile">Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" id="gymPlaylist" href="#!">Gym Playlist</a></li>
    <li><a class="waves-effect" href="#!">Yoga Playlist</a></li>
    <li><a class="waves-effect" href="#!">Add Records</a></li>
    <li><a class="waves-effect" id="blogWrite" href="#!">Write a Blog</a></li>
  </ul>
  </template>
