<template name="dashNav">
  <ul id="slide-fixed" class="side-nav fixed hide-on-med-and-down" style="margin-top: 64px">
    <li>
      <div class="userView">
        <div class="background">
          <img src="images/office.jpg">
        </div>
        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
        <a href="#!name"><span class="white-text name">John Doe</span></a>
        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
      </div>
    </li>
    <li><a href="#"><i class="material-icons">cloud</i>Change Password</a></li>
    <li><a href="#">Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Menu</a></li>
    <li><a class="waves-effect" href="#!">Gym Playlist</a></li>
    <li><a class="waves-effect" href="#!">Yoga Playlist</a></li>
  </ul>
  </template>
