<template name='navbar'>
  <nav>
    <div class="nav-wrapper">
      <a href="/dashboard" class="brand-logo"><img src="/logo.png" height="70" width="70"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/yoga/list">Yoga</a></li>
          <li><a href="/exercise/list">Exercise</a></li>
          <li><a href="/profile">Edit Profile</a></li>
          <li>
            {{#if currentUser}}
            <a href="/signOut" class="waves-effect waves-light btn">Sign Out</a>
            {{else}}
            <a href="/sign-in" class="waves-effect waves-light btn">Sign In</a>
            {{/if}}
          </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/yoga/list">Yoga</a></li>
          <li><a href="/exercise/list">Exercise</a></li>
          <li class="divider"></li>
          <li><a href="/profile">Edit Profile</a></li>
          <li>
            {{#if currentUser}}
            <a href="/signOut" class="waves-effect waves-light">Sign Out</a>
            {{else}}
            <a href="/sign-in" class="waves-effect waves-light">Sign In</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>
<!-- </div> -->
</template>
