<Template name="profile">
  <div class="row" style="width:100%">
    <form class="col s12" id="inseriUserForm">
      <div class="row">
        <div class="col s12">
          <p>Please take some time to fill your profile it will help us to know you better</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" name="fname" value="{{currentUser.fname}}" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" name="lname" value="{{currentUser.lname}}" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="age" type="number" name="age" value="{{currentUser.age}}" class="validate">
          <label for="age">Age</label>
        </div>
        <div class="input-field col s6">
          <input id="phone" type="tel" name="phone" value="{{currentUser.phone}}" class="validate">
          <label for="phone">Mobile Number</label>
        </div>
      </div>
      <div class = "row">
        <div class="input-field col s4">
          <input id="height" type="text" name="height" value="{{currentUser.height}}" class="validate">
          <label for="height">Height</label>
        </div>
        <div class="input-field col s4">
          <input id="weight" type="text" name="weight" value="{{currentUser.weight}}" class="validate">
          <label for="weight">Weight</label>
        </div>
        <div class="input-field col s4">
          <input disabled id="disabled" type="text" value="{{currentUser.bmi}}" class="validate">
          <label for="disabled">BMI</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="viseralFat" name="viseralFat" type="text" value="{{currentUser.viseralFat}}" class="validate">
          <label for="viseralFat">Viseral Fat</label>
        </div>
        <div class="input-field col s6">
          <input id="subcutaneousFat" name="subcutaneousFat" type="text" value="{{currentUser.subcutaneousFat}}" class="validate">
          <label for="subcutaneousFat">Subcutaneous Fat</label>
        </div>
      </div>
      <div clas="row">
        <div class="col s12 center-align">
          <button class="btn waves-effect" id="save">Save</button>
          <a class="btn waves-effect" href="/dashboard">Skip</a>
        </div>
      </div>
    </form>
  </div>
</template>
