<template name='testimonial'>
  <div class="container" id="testimonial">
    <h2 class="header_text">Testimonials</h2>
    <div class="row">
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/580/250/nature/1">
              <span class="card-title">Rahul</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>At Virtual trainer we will cater for your every need to make you fit.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/580/250/nature/2">
              <span class="card-title">Shaswat</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Our Tagline is take challenge, challenge yourself come out of your comfortzone to do something.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6 l4">
          <div class="card">
            <div class="card-image">
              <img src="http://lorempixel.com/580/250/nature/3">
              <span class="card-title">Tanuj</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>Join us and meet people like you, join the revolution to stay fit</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</template>
