<template name="dashPanel">
  <div class="row">
    <div class="col s12 m12 l12">
      <h2 class="header_text">Dashboard Panel</h2>
    </div>
     <div class="col s12 m12 l5">
       <div class="card-panel teal">
         <span class="white-text">
           Welcome, Prabal Raghav
         </span>
         <br>
         <span class="white-text">
           Monday, 26 May 2017
         </span>
       </div>
     </div>

     <div class="col s12 m12 l5">
       <div class="card-panel amber darken-4">
         <span class="white-text">
           Dashboard
         </span>
         <br>
         <span class="white-text">
           Read blogs & Tips from Experts
         </span>
       </div>
     </div>

     <div class="col s12 m12 l12">
       <h3 class="header_text">Blogs</h3>
     </div>

     <div class="col s12 m12 l6">
       <div class="row">
           <div class="col s12 m12 l12">
             <div class="card" id="profilePicture">
               <div class="card-image">
                 <img src="avatar/yoga-blog1.jpg">
                 <button type="button" data-activates="modal1" id="imgTrigger" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>
               </div>

               <div class="card-content">
                 <p class="row">
                   <span class="left">
                       <a href>Yoga</a>
                   </span>
                   <span class="right">
                     <a href>18, may 2016</a>
                   </span>
                 </p>
                 <h4 class="card-title grey-text text-darken-4">
                   <a class="grey-text text-darken-4">Yoga Can Cure cancer</a>
                 </h4>
                   <div class="row">
                     <div class="col s2">
                       <img src="avatar/profile.png" class="circle responsive-img valign profile-image">
                     </div>
                     <div class="col s9">
                       By
                       <a>Prabal Raghav</a>
                     </div>
                   </div>
               </div>
             </div>
           </div>
         </div>
       </div>

       <div class="col s12 m12 l6">
         <div class="row">
             <div class="col s12 m12 l12">
               <div class="card" id="profilePicture">
                 <div class="card-image">
                   <img src="avatar/ex-blog1.jpg">
                   <button type="button" data-activates="modal1" id="imgTrigger" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>
                 </div>

                 <div class="card-content">
                   <p class="row">
                     <span class="left">
                         <a href>Excercise</a>
                     </span>
                     <span class="right">
                       <a href>12, may 2016</a>
                     </span>
                   </p>
                   <h4 class="card-title grey-text text-darken-4">
                     <a class="grey-text text-darken-4">Less Carbs More Abs</a>
                   </h4>
                     <div class="row">
                       <div class="col s2">
                         <img src="avatar/profile2.png" class="circle responsive-img valign profile-image">
                       </div>
                       <div class="col s9">
                         By
                         <a>Rahul Sadhukhan</a>
                       </div>
                     </div>
                 </div>
               </div>
             </div>
           </div>
         </div>


         <div class="col s12 m12 l6">
           <div class="row">
               <div class="col s12 m12 l12">
                 <div class="card" id="profilePicture">
                   <div class="card-image">
                     <img src="avatar/yoga-blog2.jpg">
                     <button type="button" data-activates="modal1" id="imgTrigger" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></button>
                   </div>

                   <div class="card-content">
                     <p class="row">
                       <span class="left">
                           <a href>Yoga</a>
                       </span>
                       <span class="right">
                         <a href>20, may 2016</a>
                       </span>
                     </p>
                     <h4 class="card-title grey-text text-darken-4">
                       <a class="grey-text text-darken-4">Yoga for hair growth</a>
                     </h4>
                       <div class="row">
                         <div class="col s2">
                           <img src="avatar/profile.png" class="circle responsive-img valign profile-image">
                         </div>
                         <div class="col s9">
                           By
                           <a>Prabal Raghav</a>
                         </div>
                       </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>

   </div>
</template>
