<template name='dashboard'>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/four.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>You have got that in yourself!</h3>
          <h5 class="light grey-text text-lighten-3">Take challenge</h5>
        </div>
      </li>
      <li>
        <img src="/one.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Live upto your own!</h3>
          <h5 class="light grey-text text-lighten-3">Nothing is impossible</h5>
        </div>
      </li>
      <li>
        <img src="/two.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Don't hesitate!</h3>
          <h5 class="light grey-text text-lighten-3">Stay fit</h5>
        </div>
      </li>
      <li>
        <img src="/three.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Everything will seem wonderful!</h3>
          <h5 class="light grey-text text-lighten-3">Lead a healthy life</h5>
        </div>
      </li>
    </ul>
  </div>
</template>
