<template name="cardVideo">
  <style>
    #gymCard {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }

    .video-container {
      margin-left: auto;
      margin-right: auto;
    }
    #cardVideo {
      width: 100%;
    }
</style>
  <div id="cardVideo">
        <div>
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Lying Leg Curls</span>
              <div class="video-container">
                <iframe src="//www.youtube.com/embed/jxctD6fL_FQ" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-action">
              <a href="#">Previous Video</a>
              <a href="#">NexT Video</a>
            </div>
            <div class="card-content white-text">
              <span class="card-title">Description</span>
              <p>"Adjust the machine lever to fit your height and lie face down on the leg curl machine with the pad of the lever on the back of your legs (just a few inches under the calves). Tip: Preferably use a leg curl machine that is angled as opposed to flat since an angled position is more favorable for hamstrings recruitment.",
        "Keeping the torso flat on the bench, ensure your legs are fully stretched and grab the side handles of the machine. Position your toes straight (or you can also use any of the other two stances described on the foot positioning section). This will be your starting position.",
        "As you exhale, curl your legs up as far as possible without lifting the upper legs from the pad. Once you hit the fully contracted position, hold it for a second.",
        "As you inhale, bring the legs back to the initial position. Repeat for the recommended amount of repetitions."</p>
            </div>
          </div>
        </div>
      </div>
</template>
