<template name='login'>
  <style>
    #main {
      flex: 1 0 auto;
      background-color: transparent;
    }
    #wrapper {
      padding: 0 !important;
    }
    .outer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .middle {
      display: table-cell;
      vertical-align: middle;
    }
    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 400px;
    }
  </style>

  <div class="outer">
    <div class="middle">
      <div class="inner center">
        <img class="header" src="">
      </div>
      <br>
      <h5 class="header center black-text">healthy body leads to healthy life</h5>
      <br>
      <div class="row center">
        <div class="inner">
          {{> atForm}}
        </div>
      </div>
    </div>
  </div>
</template>
